.container {
  padding-top: 0;
  padding: 2px;
  background: #abacdf;
  border-radius: 10px 10px 10px 10px;

  /* &:hover { */
  /*   cursor: 'pointer'; */
  /* } */

  .inner {
    background: white;
    border-radius: 10px 10px 10px 10px;
    cursor: 'pointer';
  }
}

.windowCardTitlbar {
  background: #abacdf;
  padding: 5px;
  height: 20px;
  border-radius: 10px 10px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;


  cursor: 'pointer';


  /* &:hover { */
  /*   cursor: 'pointer'; */
  /* } */

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    .action {
      padding: 2px;
    }
  }

  .title {
    font-weight: 700;
  }

}

.windowCardContent {
  padding: 10px;
  overflow: scroll;
}
