/* You can add global styles to this file, and also import other style files */
@use 'main';

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}


html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}



.card-container {
  background: #ffffff;

}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
